In [1]:
import pandas as pd
import numpy as np

In [2]:
budget1 = "Resources/budget_data_1.csv"

In [3]:
df = pd.read_csv(budget1)
df

      Date  Revenue
0   Oct-12  1154293
1   Nov-12   885773
2   Dec-12  -448704
3   Jan-13   563679
4   Feb-13   555394
5   Mar-13   631974
6   Apr-13   957395
7   May-13  1104047
8   Jun-13   693464
9   Jul-13   454932
10  Aug-13   727272
11  Sep-13   125016
12  Oct-13   339251
13  Nov-13    78523
14  Dec-13   977084
15  Jan-14  1158718
16  Feb-14   332681
17  Mar-14  -341227
18  Apr-14   173826
19  May-14   742611
20  Jun-14  1189806
21  Jul-14   607363
22  Aug-14 -1172384
23  Sep-14   587993
24  Oct-14   295198
25  Nov-14  -300390
26  Dec-14   468995
27  Jan-15   698452
28  Feb-15   967828
29  Mar-15  -454873
30  Apr-15   375723
31  May-15  1140526
32  Jun-15    83836
33  Jul-15   413189
34  Aug-15   551363
35  Sep-15  1195111
36  Oct-15   657081
37  Nov-15    66659
38  Dec-15   803301
39  Jan-16  -953301
40  Feb-16   883934

In [4]:
df.columns

Index(['Date', 'Revenue'], dtype='object')

In [5]:
#The total number of months included in the dataset
months = df["Date"].count()
months

41

In [6]:
#The total amount of revenue gained over the entire period
total_revenue = df["Revenue"].sum()
total_revenue

18971412

In [7]:
#The average change in revenue between months over the entire period
average_revenue = df["Revenue"].mean()
print(average_revenue)

462717.3658536585

In [8]:
#The greatest decrease in revenue (date and amount) over the entire period
#max_revenue = df.Revenue.diff().max()
max_revenue = df["Revenue"].max()
max_revenue

1195111

In [9]:
date = df.loc[df["Revenue"] == max_revenue, "Date"]
max_date = date.iloc[0]
max_date

'Sep-15'

In [10]:
#The greatest increase in revenue (date and amount) over the entire per
min_revenue = df["Revenue"].min()
min_revenue

-1172384

In [14]:
min_date = df.loc[df["Revenue"] == min_revenue, "Date"]
min_date_loc = date.iloc[0]
min_date_loc
#min_date

'Sep-15'

In [16]:
print(f" Total Months: {months}\n Total Revenue: {total_revenue}\n Average Revenue Change: {average_revenue}\n Greatest Increase in Revenue: {max_date} {max_revenue}\n Greatest Decrease in Revenue: {min_date_loc} {min_revenue}")

 Total Months: 41
 Total Revenue: 18971412
 Average Revenue Change: 462717.3658536585
 Greatest Increase in Revenue: Sep-15 1195111
 Greatest Decrease in Revenue: Sep-15 -1172384